[submodule "public/external-repo"]
	path = public/external-repo
	url = git@github.com:liyajayme/sugbohenyo.git
[submodule "public/sugbohenyo"]
	path = public/sugbohenyo
	url = git@github.com:liyajayme/sugbohenyo.git
